html,body,#root{
  height:100%;
  margin:0;
}

.app-bg{
  min-height:100vh;
  background-image:url("src/assets/images/app-bg.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.overlay{
  min-height:100vh;
  background:rgba(0,0,0,0.65);
  color:white;
}
